html {
    position: relative;
    min-height: 100%;
}

body{
    background-image: url("../images/shattered.png");
    color:#777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    min-height: 100%;
}

#entire-wrapper{
    min-height: 100%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: 150px;
}

#header-wrapper{
   background-color: #fff;
   font-family: 'Georgia', Times, Times New Roman, serif;
   border-bottom: 3px solid #ccc;
}

h1{
    font-family: 'Georgia', Times, Times New Roman, serif; 
}

#main-header{
    width:960px;
    margin: 0 auto;
    padding:30px 0px;
    height:25px;
}

#main-header h1{
    float:left;
}

#main-header h1 a{
    background-color:#4aaaa5;
    color: #fff;
    text-decoration: none;
    padding:30px;
    font-weight: bold;
    font-size:150%;
}

#main-nav{
    float: right;
}

#main-nav ul{
    float: right;
}

#main-nav ul li{
    float: left;
    margin-right: 10px;
    border-right: 1px solid #ddd;
    padding-right: 10px;
}

#main-nav ul :last-child{
    margin-right: 0px;
    border: none;
    padding: 0px;
}

#main-nav ul li a {
    text-decoration: none;
    color:#777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    line-height:24px;
}

#main-nav ul li a:hover {
    text-decoration: none;
    color: #4aaaa5;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}


#main-wrapper{
    background-color: #fff;
    font-family: 'Georgia', Times, Times New Roman, serif;
    border-bottom: 3px solid #ccc;
    width:960px;
    margin: 0 auto;
    margin-top:30px;
 }

 #main-content{
     padding:30px;
     overflow:auto;
     border: 1px solid #ddd;
 }

 #main-content h1{
     color: #4aaaa5;
     font-weight:bold;
     font-size:180%;
     margin-bottom:20px;
 }

 #image-content{
     float: left;
     margin-top:20px;
     margin-right:20px;
 }

 #image-content img{
    width:200px;
    height:auto;
 }

 #paragraph-content{
   margin-top:25px;
   line-height:32px;
 }

 p{
     margin-bottom:20px;
     font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
 }

 #footer-wrapper{
     position: absolute;
     width:100%;
     bottom:0;
     left:0;
     clear:both;
     border-top: 8px solid #4aaaa5;
     background-color: #666;
     color:#fff;
     /* margin-top:80px; */
     height:90px;
 }

 #footer-wrapper p{
     margin:0 auto;
     width:960px;
     text-align:center;
     padding: 30px 0px; 
     line-height:30px;
 }

 #image-portfolio-content{
    margin-top:30px;
 }

 #image-portfolio-content img{
    margin-right:30px;
    margin-bottom:40px;
    width:300px;
}

 form{
     margin-top:25px;
 }

 label{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
 }

 input[type=text], textarea {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 20px;
    box-sizing: border-box;
    resize: vertical;
}

input[type=submit] {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-color: #4aaaa5;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    width: 13%;
    text-align: center;
    border: 2px solid #4aaaa5;
    font-size: 18px;
}

input[type=submit]:hover {
    background-color: #fff;
    border: 2px solid #4aaaa5;
    color: #4aaaa5;
}

textarea{
    height:140px;
}